.social_list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.social_list li {
    margin: 0 1em;
    list-style: none;
}

.social_list svg {
    font-size: 1.5em;
    cursor: pointer;
    color: blueviolet;
}